parameters:
	ignoreErrors:
		-
			message: '#^Strict comparison using \!\=\= between false and int will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Writers/Writer.php
